static/images/screenshot_20-03-03_16:08:03-01.png filter=lfs diff=lfs merge=lfs -text
static/images/screenshot_20-03-03_16:09:07-01.png filter=lfs diff=lfs merge=lfs -text
static/images/screenshot_20-03-03_16:10:20-01.png filter=lfs diff=lfs merge=lfs -text
static/images/screenshot_20-03-03_16:11:16-01.png filter=lfs diff=lfs merge=lfs -text
static/images/screenshot_20-03-03_16:12:47-01.png filter=lfs diff=lfs merge=lfs -text
static/images/traefik.png filter=lfs diff=lfs merge=lfs -text
static/images/ filter=lfs diff=lfs merge=lfs -text
static/images/nextcloud.png filter=lfs diff=lfs merge=lfs -text
static/images/docker.png filter=lfs diff=lfs merge=lfs -text
